#Todo {
	margin-right: auto;
	width: 900px;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	height: auto;
	text-align: center;
	background-color: rgba(0,0,0,1.00);
}
#header {
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	width: auto;
	height: 290px;
}

#Todo #header #menu {
	width: 900px;
	height: 100px;
}
#banner {
	width: 900px;
	height: 190px;
}


#texto {
	font-style: normal;
	color: #FFFFFF;
	background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(255,0,0,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(255,0,0,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(0,0,0,1.00) 0%,rgba(255,0,0,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(0,0,0,1.00) 0%,rgba(255,0,0,1.00) 100%);
	background-color: #010101;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body p {
	font-weight: 900;
	font-size: large;
	text-indent: 0px;
	line-height: normal;
	font-style: normal;
	font-variant: normal;
	list-style-position: inside;
	border-width: 10px;
	vertical-align: baseline;
	text-align: justify;


}
#linkbiografia {
	background-color: rgba(0,0,0,1.00);
	color: rgba(252,248,248,1.00);
}
#contenido {
	text-align: center;
	line-height: normal;
	border-width: medium;
	color: rgba(196,186,186,1);
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
#pie {
	text-align: center;
}


#foto {
}
